doctype html
html
  head
    title Pug Client Templates
  body
    #otherResult(data-test=objTest)
    #templateResult
    pugtemplate quickTmp(testVar)
      .does
        .this
          .work OK - #{testVar}
          include included
    pugtemplate tmpl.template2
      .second done
    pugtemplate templateRest(one, ...two)
      .ok Rest #{one} OK
    #result2
    #finalResult
    +quickTmp(objTest.testVar)
    +quickTmp('inline')
    - var codeObj = {testVar: 'fromCode'}
    +quickTmp(codeObj.testVar)
    +tmpl_template2
    +templateRest('ok', '1', '2')
    pugruntime
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script.
      $(function() {
        $('#otherResult').text('jQuery is running');
        $('#templateResult').html(templates.quickTmp('Working'));
        $('#result2').html(tmpl.template2());
      });